
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}  

/* -------------------------------------navbar---------------------------------------*/
#navBar{
display: flex;
justify-content: flex-end;
position:sticky;
width: 100%;
background-color:rgb(229,236,251);
z-index: 1000;

}

#navBar ul
{
    width: auto;
    height: 5rem;
     display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    list-style: none;
    text-decoration: none;


 }
#navBar ul li
{
  margin-right: 6rem;
  margin-bottom: 4rem;
  text-decoration: none;
}
#sign{
  position:absolute;
  height: 15rem;
  top:-2.5rem;
  left: -7rem;
}
.main h2:hover{
 color: blue;
}
 #link {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  left: 10rem;

}
#link a{
  margin: 1rem;
  
}

/* --------------------------------------------------navbar--------------------------------------------------- */
/* -------------------------------maindiv------------------------ */
   #maindiv{
    height:70rem;
    width: inherit;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(215,226,238);

   }
   #text{
    height: 40%;
    font-size: 3rem;
    font-weight: 600;
  }
   #homeImg img{
    border-radius: 500px  ;
  }
  #subMainDiv{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    right: 8rem;
    background-color:rgb(229,236,251);
  }
  





/* #maindiv{
  width:100%;
  height: 100vh;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
#text{
  width:45vw;
  margin-bottom: 15rem;
  margin-left: 5rem;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
}
.text1{
  font-size:5rem;
  margin-top:-4rem;
  text-decoration: none;
}
#homeimg{
  width:45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#homeimg img{
  width:400px;
  border-radius: 50%;
}
#link a img{
  width:40px;
  margin:0 10px;
} */
@media screen and (max-width:1214px){

  #maindiv{
    height:80rem;
    flex-direction: column;
    align-items: center;
  }
  #text{
    width:100%;
    margin-bottom: -5rem;
    margin-left:3rem;
  }
  #homeimg{
    width:100%;
  }
}

/* ---------------------------------------page two-------------------------------------- */



strong{
  font-size: 4rem;
  font-weight: 600;
}
#h2{
  font-size: 2rem;
  font-weight: 600;
} 

/* ------------------------------------------------page3--------------------------------------------------------- */
#sha{
  max-width: 100%;
  height:90%;
  border: .1rem solid black;
}
#edu2{
  font-size: 5rem;
  font-weight: 500;
  color: #7303a7;
  margin-top:1rem;
}
#edu2{
  text-align: center;
}
#img{
  height:30rem;
}
#akg{
  height: 70%;
} 
/* #akg:hover{
  transform: scale(1.3);
  transform: skew(1.2);
  transform:rotate(15deg);
} */
#pakg{
  font-size: 3rem;
  font-weight: 500;
  color:blue;
}
#psession{
  color: black;font-size: 3rem;
  font-weight: 600;
}


#p11{
  font-size: 2rem;
  font-weight: 300;
}
#p11{
  margin-top: -3rem;
  color: blue;
}
#id1{
  display: flex;
  justify-content: space-around;
}
#para2000{
  display: flex;
  justify-content: space-around;
}
/* Navodaya Image */
#navodayaImg{
  display: relative;
  top: 2rem;
  width: 40%;
  height: 30rem;
}
/* #navodayaImg:hover{
  transform: scale(1.2);
} */
#navodayaImg img{
  width: 65%;
  margin: auto;
  object-fit: contain;
  /* padding-left: 15%; */
  height: 70%;
}
#new{
  position: relative;
  box-sizing: border-box;
  padding-right: 110px;
}
#navodayaHighlight{
  display: relative;
  left: -2rem;
  font-size: 3rem;
  font-weight: 500;
  color:blue;
}
#high{
  font-size: 3rem;
  font-weight: 600;
}
#skills{
height: 86rem;
  width: 100%;
  border: 1px solid black;
}
#skills p{
  display: flex;
  font-size: 5rem;
  font-weight: 500;
 
}
#skillsImage{
  display: relative;
  top: 2rem;
  width: 40%;
  
}
#skills p{
  display: flex;
  justify-content: space-around;
  color: #7303a7;
  
}
#ability{
  display: flex;
  justify-content: space-between;
}
#ability img{
  height: 30rem;
  width: 20rem;
}



/**/
/* ======================Contacts */
#contacttext{
  font-size: 40px;
  font-weight: 600;
  color: blue;
  position: relative;
  top: -400px;

}
#contactPhoto{
  height: 60%;
  width: 60%;
}
#contactBox{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  height: auto;
  width: auto;
  box-sizing: border-box;
  /* padding: 200px; */
}
#contactform:hover{
  transform: scale(.7);
}
.profileTwo{
  width: 50%;
  
}
.profileTwo img{
  width: 60%;
  /* height: 80%; */
  object-fit: cover;
}
.contactForm{
  background: #025068;
  display: flex;
  width: 30%;
  padding: 2rem;
  margin: 2rem;
  flex-direction: column;
  border-radius: 4rem;
  margin-right: 5%;
  box-shadow:  0px 0px 8px 3px #898686;
}

.contactForm hr{
  width: 90%;
}
  
input, textarea, .submitForm{
  padding: 0.8rem;
  width: 80%;
  background:  #edf2f4;;
  border: #edf2f4 2px ridge;
  color:#2b2d42;
  margin: 1rem;
  border-radius:10px;
  max-width:200px;
}

.submitForm{
margin-left: 33.3%;
width: auto;
}

  
/* ----------------------------------------------education--------------------------------------------------  */
   



#lorem{
      height:98vh;
      width: inherit;
      border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:rgb(229,236,251);
    
    }
    #insideLorem{
      height:70%;
      width: 70%;
      border: 1px solid white;
      border-radius:30px;
      margin: 10px;
      background-color: rgb(252,252,252);
    }
    #lorem div p{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid blue;
      height: 30rem;
    }
    #firstEdu{
      display: flex;
      justify-content:space-around;
      margin: 10px;
    }
    #firstEdu img{
      height:23rem;
      width:20vw;
      display: flex;
      justify-content: center;
  
    }

    #collegeText{
      width:50%;
      height:50%;
      font-size: 3rem;
      font-weight: 500;
    }
    #school{
      display: flex;
      justify-content: space-around;
      position: relative;
      right:40px;
    }
    #schoolText{
      width:50%;
      height:50%;
      font-size: 3rem;
      font-weight: 500;
      padding-left: 50px;
    }


    #jnv{
      height: 19rem;
      width:28%;
      padding-left: 7rem;
    }





    /* ------------------------------------------about me---------------------------------------------- */


      #aboutMe{
        height:100vh;
        width: inherit;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        background-color:RGB(215 226 238);
      }
       #userImage{
        height:4rem;
        width:10rem;
        position: relative;
        left: 50rem;
       }
      #aboutMeText{
        font-size: 5rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        height:3rem;
        width: 30rem;
        position: relative;
        left: 60rem;
        bottom: 5rem;
      }
      #upperAboutMe{
        width: inherit;
        height:3rem;
      }
      #info{
        display: block;
        height:3rem;
        width: 3rem;
      }

     #about{
      height: 70%;
      width: 70%;
       position: relative;  
      top: 10rem;
      right: 15rem;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color:rgb(229,236,251);
     }
     #about img{
      height: 30rem;
      width: 30rem;
      position: relative;
      border-radius: 200px;
     }
     #bio ul{
      width:30rem;
      height: 30rem;
      font-size: 2rem;
      font-weight: 500;
      list-style-type: none;
     }
   /* ----------------------------------------------skills------------------------------------------ */


   #skills{
    display: flex;
    justify-content: center;
    align-items: center;
    height:68rem;
    width:150rem;
    background-color: rgb(215,226,238);

   }
    
     #subSkills{
      height: 80%;
      width: 80%;
      border: 1px solid white;
      border-radius: 40px;
      display:flex;
      flex-direction: column;
      background-color:rgb(255,255,255);
    } 
    #sub1{
      display: flex;
      position: relative;
      left: -30rem;
      justify-content: center;
      align-items: center;
    }
    #sub1 img{
      margin-right:- 3rem;
      height: 20rem;
      width: 20rem;
    
    }
    #sub2{
      display: flex;
      position: relative;
      left: 30rem;
      justify-content: center;
      align-items: center;
    }
    #sub2 img{
      display:flex;
      height: 20rem;
      width: 20rem;
    }







    /* Media query */
    @media screen and (max-width:950px) {
      .contactForm{
          width: 35%;
      }

  }




   /* Contact Form */

   @media screen and (max-width:767px) {   
  
#contactBox{
    justify-content: center;
}
.contactForm{
    /* margin-right: 7%; */
    margin-right:0 ;
    width: 45%;
}
   }


   @media screen and (max-width:600px) {
    /* Contact Form */
    .contactForm{
      width: 90%;
      margin: 2rem 12rem 2rem auto;
  }}